h1 {
    color:blue;
    text-align:center;
}
p {
    color:orange;
    font-size:20px;
    text-align: justify;
}
p1{
    color:green;
    font-size:18px;
    text-align: left;
}
body {
    background-color: navajowhite;
    font-family: 'Times New Roman', Times, serif;
}