body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: rgb(44, 41, 41);
}

.block_menu a {
  display: block;
  background-color: #6287a0;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 5px 0;
  text-decoration: none;
}

.inline_menu a {
  display: inline;
  background-color: #60b483;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 5px;
  text-decoration: none;
}

.inline_block_menu a {
  display: inline-block;
  background-color: #7a5689;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}

.float_menu a {
  float: left;
  background-color: #997658;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
}

.clear {
  clear: both;
}

h1,h2{
    color: white;
}