body{
    font-family: Aerial sans-serif;
    background-color: rgb(157, 157, 153);
    margin: 20px;   
}
h1 {
    color: rgb(1, 1, 1);
    text-align : center;
}
h2 {
    color: rgb(10, 10, 10);
    text-align: center;
}
.product-box {
    border: 2px solid rgb(255, 255, 255);
    padding: 15px;
    margin: 0 auto;
    background-color: lightgray;
    align-self: center;
    width:500px;
    height: 650px;
    border-radius: 10px; 
}
.product-box img {
    border-radius: 5px;
   align-self: center;
    height: 450px;
    width: 400px;
}
.description {
    font-size: 19px;
    color: rgb(61, 51, 51);
    text-align: center;
    margin-top: 15px;
}
.price {
    font-size: 20px;
    color: rgb(255, 0, 0);
    text-align: center;
}
button {
    background-color: rgb(15, 107, 212);
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 19px;
    display: block;
    margin: 25px auto 0 auto;
}
img {
    display: block;
    margin: 0 auto; 
}