body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 20px;
  background-color: rgb(44, 41, 41);
}

.block-menu a {
  display: block;
  background-color: #6287a0;
  color: rgb(255, 255, 255);
  padding: 7px;
  margin: 5px 0px ;
}

.inline-menu a {
  display: inline;
  background-color: #384f41;
  color: rgb(255, 255, 255);
  padding: 7px;
  margin: 5px 0px;
}

.inline-block-menu a {
  display: inline-block;
  background-color: #a99595;
  color: rgb(149, 51, 51);
  padding: 7px;
  height: 30px;
  width: auto;
  margin: 5px 0px;
}

.float-menu a {
  float: left;
  background-color: #997658;
  color: rgb(255, 254, 254);
  padding: 7px;
  margin: 5px;
}

.clear {
  clear: both;
}

h1,h2{
    color: rgb(255, 255, 255);
}