.body{
    background-color: gray;
}
.Example1 a {
    display: inline-block;
    background-color: rgb(98, 32, 229);
    margin: 10px;
    height: 100px;
    width: 300px;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 5px;
}

.Example2 a {
    display: inline-block;
    background-color: rgb(216, 37, 109);
    margin: 10px;
    height: 100px;
    width: 300px;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 5px;
}

.Example3 a {
    display: inline-block;
    background-color: rgb(210, 175, 21);
    margin: 10px;
    height: 100px;
    width: 300px;
    text-align: center;
    line-height: 100px;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 5px;
}
